Repository ironbeer/oasys-validator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ironbeer, @karalabe, @gballet, @MariusVanDerWijden, @holiman, @rjl493456442, @s1na, @fjl, @lightclient, @zsfelfoldi

Disable version check
  .github/workflows/release.yml
Owners: none

dev
  .github/workflows/release.yml
Owners: none

Disable fallback for header parsing
  consensus/oasys/oasys.go
Owners: @karalabe

integrate plugin build into main build flow for ABI compatibility
  .github/workflows/release-plugin.yml
  .github/workflows/release.yml
  Dockerfile
  Makefile
  build/ci.go
  core/suspicious_txfilter.go
  core/suspicious_txfilter_test.go
  txfilter/plugindummy/main.go
Owners: @karalabe, @holiman, @rjl493456442

split Dockerfile stages for independent plugin builds
  .github/workflows/release.yml
  Dockerfile
  docker-bake.hcl
Owners: none

add packages:write permission for Docker image push
  .github/workflows/release.yml
Owners: none

align bake target args to share base stage across builds
  docker-bake.hcl
Owners: none

use native ARM runners instead of QEMU for release builds
  .github/workflows/release.yml
Owners: none

remove -static from Dockerfile geth build for plugin compatibility
  Dockerfile
Owners: none

split Dockerfile stages for independent plugin builds
  .github/workflows/release.yml
  Dockerfile
  docker-bake.hcl
Owners: none

integrate plugin build into main build flow for ABI compatibility
  .github/workflows/release-plugin.yml
  .github/workflows/release.yml
  Dockerfile
  Makefile
  build/ci.go
  core/suspicious_txfilter.go
  core/suspicious_txfilter_test.go
  docker-bake.hcl
  txfilter/plugindummy/main.go
Owners: @karalabe, @holiman, @rjl493456442

integrate plugin build into main build flow for ABI compatibility
  .github/workflows/release-plugin.yml
  .github/workflows/release.yml
  Dockerfile
  Makefile
  build/ci.go
  core/suspicious_txfilter.go
  core/suspicious_txfilter_test.go
  docker-bake.hcl
  txfilter/plugindummy/main.go
Owners: @karalabe, @holiman, @rjl493456442

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
consensus/oasys                 @ironbeer
accounts/usbwallet              @karalabe
accounts/scwallet               @gballet
accounts/abi                    @gballet @MariusVanDerWijden
cmd/clef                        @holiman
consensus                       @karalabe
core/                           @karalabe @holiman @rjl493456442
eth/                            @karalabe @holiman @rjl493456442
eth/catalyst/                   @gballet
eth/tracers/                    @s1na
ethclient/                      @fjl
ethdb/                          @rjl493456442
event/                          @fjl
trie/                           @rjl493456442
triedb/                         @rjl493456442
core/tracing/                   @s1na
graphql/                        @s1na
internal/ethapi/                @fjl @s1na @lightclient
internal/era/                   @lightclient
metrics/                        @holiman
miner/                          @MariusVanDerWijden @holiman @fjl @rjl493456442
node/                           @fjl
p2p/                            @fjl @zsfelfoldi
rlp/                            @fjl
params/                         @fjl @holiman @karalabe @gballet @rjl493456442 @zsfelfoldi
rpc/                            @fjl @holiman
signer/                         @holiman
